Repository Exepp/SpeechLess, pull requests merged in 2021-11, with the labels that each got.

#29 TF-IDF analysis method
  setup.cfg
  src/speechless/processing/analysis/tfidf.py
  src/speechless/processing/tokenization.py
  src/speechless/utils/math.py
Labels: enhancement, director

#33 Fix tfidf, add stopwords removal and lemmatization to tfidf
  src/speechless/director.py
  src/speechless/processing/analysis/tfidf.py
  src/speechless/processing/tokenization.py
Labels: bug, enhancement, director

#34 Add support for running multiple analysis methods at once
  examples/config.json
  src/speechless/director.py
  src/speechless/edit_context/common.py
  src/speechless/editor.py
  src/speechless/processing/analysis/spectrogram.py
  src/speechless/processing/analysis/tfidf.py
  src/speechless/utils/config.py
  src/speechless/utils/math.py
Labels: enhancement, CLI, director
